

<div class="about">

  <h2>The RxJs In Practice Course</h2>
    
  <h3>Stream (of values)</h3>
  <p>
    Everything almost is asynchronous. We have requests coming from the network bringing new values from the backend,we have timeouts occurring in the frontend, we have user interaction with click mouse over events. All of those are asynchronous events that we need to combine in order to produce the final result of our program.
  </p>
  <ul>
    <li>User interactions</li>
    <li>Backend requests</li>
    <li>Timeout intervals</li>
  </ul>

  <h3>RxJS Core use case: combine multiple streams</h3>
  <p>
    RxJS just stands for reative extensions for javascript. It's a library that makes it very simple to combine streams of values together in a maintainable way.
  </p>
  <h3>Streams and observable</h3>
  <p>
    An observable is a blue print for a stream
  </p>


</div>

